.arrow {
    /* float: left; */
    /* position: relative; */
    height: 80px;
    width: 180px;
    border: solid 1px #ccc;
    border-right: none;
    /* background: #eee linear-gradient(white, #f1f1f1 37%, #e1e1e1 57%, #f6f6f6); */
    rotate: 90deg;
}

.arrow:after {
    position: absolute;
    top: 16px;
    right: -25px;
    width: 48px;
    height: 47px;
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
    transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
    /* background: #eee linear-gradient(45deg, white, #f1f1f1 37%, #e1e1e1 57%, #f6f6f6); */
    content: '';
}

.arrow-red {
    background-color: red;
}

.arrow-red::after {
    background-color: red;
}

.first {
    width: auto;
}

.middle {
    background-color: lightsalmon;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.right {
    width: auto;
}

.component {
    flex-wrap: nowrap;
}

.row-reverse {
    flex-flow: row-reverse;
}