.first {
    width: auto;
    position: absolute;
}

.time-line {
    background-color: lightsalmon;
    width: auto;
    position: absolute;
    height: 20px;
}

.right {
    width: auto;
    position: absolute;
}

.component {
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    height: 20px;
}