.first {
    width: auto;
}

.time-line {
    background-color: lightsalmon;
    width: auto;
    position: absolute;
    height: 20px;
}

.right {
    width: auto;
    position: absolute;
    /* visibility: hidden; */
}

.component {
    flex-wrap: nowrap;
    /* background-color: gray; */
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding-top: 3px; */
    /* padding-bottom: 3px; */
    position: relative;
    height: 20px;
}